[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
	url = https://github.com/ReneNyffenegger/vim-conque
